$less-column-width: 60px !default
$less-gutter-width: 24px !default

@mixin grid($columns) {
  @include column($columns, true);
  
  @if $columns == 13 {
    padding: 96px 72px 0;
  } @else if $columns == 5 {
    padding: 60px 42px 0;
  } @else if $columns == 3 {
    padding: 48px 46px 0;
  } @else {
    padding: 84px 60px 0;
  }
}

@mixin column($columns, $last: false) {
  width: ($less-column-width * $columns) + ($less-gutter-width * ($columns - 1));
  
  @if $last != true {
    margin-right: $less-gutter-width;
  }
}

@mixin mobile-safari {
  -webkit-text-size-adjust: 100%;
}